@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  font-family: "Sora", sans-serif;
  box-sizing: border-box;
  color: var(--tertiary);
  font-size: 12px;
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  max-height: 100vh;
}

:root {
  --primary: #0c0809;
  --secondary: #ba346a;
  --tertiary: #e8e7ec;
}

body {
  background-color: var(--primary);
  flex-direction: column;
  overflow: hidden;
  display: flex;
  height: 100vh;
  width: 400vw;
}

h1,
h1 > span {
  font-size: 3.5rem;
}

h1 > span {
  color: var(--secondary);
}

p {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 200;
  opacity: 0.75;
}

input,
textarea {
  background-color: transparent;
  border: 1px solid var(--tertiary);
  border-radius: 10px;
  padding: 16px 16px;
  outline: none;
  width: 100%;
}

input:focus,
textarea:focus {
  border-color: var(--secondary);
}

textarea {
  height: 300px;
}

button {
  background-color: transparent;
  border: 1px solid var(--tertiary);
  border-radius: 50px;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 16px 0;
  cursor: pointer;
  outline: none;
  width: 150px;
}

button:hover {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
nav {
  align-items: center;
  position: fixed;

  display: flex;
  height: 100vh;
  width: 75px;
  right: 32px;

  & > ul {
    background-color: rgb(255, 255, 255, 0.1);
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
    flex-direction: column;
    border-radius: 50px;
    align-items: center;
    list-style: none;
    display: flex;
    width: 100%;
    height: 60%;

    & > li {
      place-items: center;
      display: grid;
      height: 50px;
      width: 50px;

      & > img {
        height: 24px;
      }
    }

    & > li:hover {
      cursor: pointer;

      & > img {
        opacity: 0.5;
        transition: all ease-in-out 300ms;
      }
    }
  }
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 16px 124px;
  position: fixed;
  display: flex;
  width: 100vw;

  & > address {
    display: flex;
    gap: 16px;

    & > a {
      transition: all ease-in-out 300ms;
      cursor: pointer;

      & > img {
        height: 24px;
        width: 24px;
      }
    }

    & > a:hover {
      opacity: 0.5;
    }
  }
}

main {
  overflow-x: scroll;
  flex-grow: 1;
  overflow-y: hidden;

  & > ul {
    display: flex;
    height: 100%;
    overflow-y: hidden;

    & > li {
      align-items: center;
      overflow: hidden;
      padding: 0 124px;
      display: flex;
      height: 100%;
      width: 100vw;
    }
  }
}

#home {
  display: flex;

  & > .container {
    flex-direction: column;
    display: flex;
    color: var(--tertiary);
    width: 50%;
    gap: 16px;
  }

  & > article {
    background-color: var(--secondary);

    & > .planet {
      mix-blend-mode: difference;
      transform: translateX(25%);
      position: absolute;
      height: 400px;
      opacity: 0.5;
      z-index: -1;
      bottom: 0;
      right: 0;
    }
  }
}

#about {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 48px;

  & > .container {
    flex-direction: column;
    display: flex;
    height: 50%;
    width: 75%;
    gap: 32px;

    & > .history-container {
      justify-content: space-between;
      list-style: none;
      display: flex;
      width: 50%;

      & > .history-item {
        border: 1px solid rgba(255, 255, 255, 0.5);

        flex-direction: column;
        border-bottom: none;
        border-top: none;
        padding: 0 48px;
        display: flex;
        gap: 8px;

        & > .history-title {
          text-transform: uppercase;
          color: var(--secondary);
          font-size: 4rem;
        }

        & > .history-text {
          text-transform: uppercase;
          font-weight: bold;
          line-height: 16px;
          font-size: 1rem;
        }
      }

      & > .history-item:first-child {
        padding-left: 0;
        border-left: none;
      }

      & > .history-item:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  & > .experience-container {
    flex-direction: column;
    display: flex;
    height: 50%;
    width: 50%;
    gap: 16px;

    & > .experience-box {
      justify-content: space-between;
      list-style: none;
      display: flex;
      width: 75%;
      gap: 16px;

      & > .experience-item {
        & > .experience-title {
          & > h2 {
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 1.5rem;
            font-weight: 600;
            cursor: pointer;
            padding: 8px 0;
          }

          & > h2:hover {
            opacity: 0.5;
          }
        }
      }
    }

    & > article {
      width: 100%;
    }
  }
}

#work {
  display: flex;
  gap: 16px;

  & > .work-container {
    flex-direction: column;
    display: flex;
    height: 50%;
    width: 40%;
    gap: 16px;
  }

  & > .work-slider {
    height: 60%;
    width: auto;

    & > .slider-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      aspect-ratio: 16/9;
      list-style: none;
      flex-wrap: wrap;
      display: grid;
      height: 75%;
      gap: 12px;

      & > .slider-item {
        border: 1px solid var(--tertiary);
        border-radius: 10px;
        position: relative;
        width: 100%;
      }

      & > .slider-item::after {
        content: "visualizar projeto";
        text-transform: uppercase;
        letter-spacing: 1px;
        justify-content: center;
        align-items: center;
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-image: linear-gradient(
          to right,
          transparent 0%,
          rgb(186, 52, 106, 0.75) 50%,
          transparent 100%
        );
        left: 0;
        top: 0;
      }
      & > .slider-item:hover::after {
        display: flex;
      }
    }
  }
}

#contact {
  justify-content: center;
  display: flex;

  & > .form-container {
    justify-content: center;
    flex-direction: column;
    display: flex;
    height: 75%;
    width: 75%;
    gap: 16px;

    & > .form-title {
      text-align: center;
      width: 100%;
    }

    & > .form-box {
      display: flex;
      width: 100%;
      gap: 16px;
    }
  }
}
@media (max-width: 768px) {
  nav {
    position: fixed;
    height: 75px;
    width: 100vw;
    bottom: 0;
    left: 0;

    & > ul {
      flex-direction: row;
      border-radius: 0;
      height: 100%;
      bottom: 0;
    }
  }

  header {
    padding: 16px 32px;
  }

  main {
    & > ul {
      & > li {
        padding: 0 32px;
      }
    }
  }

  #home {
    & > .container {
      display: flex;
      color: var(--tertiary);
      width: 100%;
      gap: 16px;
    }
  }
  #about {
    flex-direction: column;
    & > .container {
      flex-direction: column;
    }

    & > .experience-container {
      flex-direction: row;
    }
  }
}
